.content-items {
  background-color: darkslategrey;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.content {
  background-color: darkslategrey;
}
