.item {
  display: flex;
  background-color: darkblue;
  font-family: column;
  width: 200px;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
}

.item ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.item p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.item a {
  color:aliceblue;
  text-decoration: none;
}